@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400&display=swap");

/* Colors */
.transparent {
  background: transparent !important;
}
.pry-text {
  color: var(--pry-color) !important;
}
.pry {
  background-color: var(--pry-color) !important;
}
.pry-border {
  border: var(--pry-color) 1px solid !important;
}
.pry-bold-text {
  color: var(--pry-bold-color) !important;
}
.pry-bold {
  background-color: var(--pry-bold-color) !important;
}
.sec-text {
  color: var(--sec-color) !important;
}
.sec {
  background-color: var(--sec-color) !important;
}
.sec-bold-text {
  color: var(--sec-bold-color) !important;
}
.sec-bold {
  background-color: var(--sec-bold-color) !important;
}
.light-bold-text {
  color: gainsboro !important;
}
.light-text {
  color: var(--light-color) !important;
}
.dark-text {
  color: var(--dark-color) !important;
}
.light-bg {
  background-color: var(--light-color) !important;
}
.dark-bg {
  background-color: var(--dark-color) !important;
}

.btn {
  text-transform: capitalize !important;
  border-radius: 3px !important;
  padding: 10px 30px !important;
  align-items: center !important;
}
.btn-border {
  background-color: transparent !important;
  color: var(--pry-color) !important;
  border: var(--pry-color) 1px solid !important;
}
/* Button */

/* border radius */
.br-sm {
  border-radius: 5px !important;
}
.br-md {
  border-radius: 0.7rem !important;
}
.br-lg {
  border-radius: 4rem !important;
}
/* border radius */

/* TExt Align */
.text-justify {
  text-align: justify !important;
}

/* TExt Align */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Loader */
.app {
  width: 100%;
  height: 100vh;
  background: #fafffaf3;
  display: grid;
  place-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

/* Loader */
/* Page Not Found */
.not-found {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.not-found h1 {
  font-size: 12rem;
}
/* Page Not Found */
/* Global */

body {
  background: #fff !important;
  margin: 0 auto;
  color: #393939 !important;
  line-height: 1.6;
  font-family: "Albert Sans", sans-serif !important;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600 !important;
}

/* Scrollbar  */

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  border: none;
  background-color: whitesmoke;
}
::-webkit-scrollbar-thumb {
  background: var(--pry-bold-color);
  height: 7px;
}

/* Scrollbar  */

/* Scroll To Top Button  */
#myBtn {
  box-shadow: none !important;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  display: block;
  position: fixed;
  bottom: 20px;
  right: -5px;
  z-index: 99;
}

/* Global */

/* Global */
/* Global */

/* Navbar */
nav {
  background-color: #0f0f0fec !important;
  transition: 0.5s ease !important;
}

nav .navbar-brand {
  width: 5% !important;
}
nav .navbar-brand img {
  width: 100% !important;
}

.active1 {
  border-bottom: var(--pry-color) solid 2px !important;
  transition: 0.1s ease !important;
}

nav button.navbar-toggler {
  background-color: none !important;
}
/* 
.navbar-toggler-icon {
  background: none !important;
} */

nav .nav-item a {
  color: var(--dark-hover-color);
  font-size: 1rem;
  display: block;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border-bottom: transparent solid 2px !important;
}

nav .nav-item a:hover {
  border-bottom: var(--pry-color) solid 2px !important;
  transition: 0.1s ease !important;
}

nav .btn {
  border: 1px transparent solid;
}
nav .btn:hover {
  transition: 0.1s ease !important;
  background-color: transparent !important;
  border: 1px var(--pry-bold-color) solid;
  color: var(--dark-color) !important;
}

/* Navbar */

/* Media Query for Mobile device */
/* Media Query for Mobile device */

@media screen and (max-width: 580px) {
  nav .navbar-brand {
    width: 50% !important;
  }

  nav .navbar-brand img {
    width: 30% !important;
  }
}

/* Media Query for Mobile device */
/* Media Query for Mobile device */
